body{
    background-color: rgb(3, 170, 236);
}


h1{
    color:black;
}

h3 { 

    background-color: white;
    text-align: center;
}

.green-text{
    color: green;
}

p {               
					
	line-height: 1.5em;             
	                 
}




